[submodule "service_tests"]
	path = service_tests
	url = https://github.com/niolabs/service_tests.git
[submodule "blocks/attribute_selector"]
	path = blocks/attribute_selector
	url = https://github.com/nio-blocks/attribute_selector.git
[submodule "blocks/buffer"]
	path = blocks/buffer
	url = https://github.com/nio-blocks/buffer.git
[submodule "blocks/conditional_modifier"]
	path = blocks/conditional_modifier
	url = https://github.com/nio-blocks/conditional_modifier.git
[submodule "blocks/communication"]
	path = blocks/communication
	url = https://github.com/nio-blocks/communication.git
[submodule "blocks/filter"]
	path = blocks/filter
	url = https://github.com/nio-blocks/filter.git
[submodule "blocks/host_specs"]
	path = blocks/host_specs
	url = https://github.com/nio-blocks/host_specs.git
[submodule "blocks/join"]
	path = blocks/join
	url = https://github.com/nio-blocks/join.git
[submodule "blocks/logger"]
	path = blocks/logger
	url = https://github.com/nio-blocks/logger.git
[submodule "blocks/merge_streams"]
	path = blocks/merge_streams
	url = https://github.com/nio-blocks/merge_streams.git
[submodule "blocks/metrics"]
	path = blocks/metrics
	url = https://github.com/nio-blocks/metrics.git
[submodule "blocks/modifier"]
	path = blocks/modifier
	url = https://github.com/nio-blocks/modifier.git
[submodule "blocks/nio_command"]
	path = blocks/nio_command
	url = https://github.com/nio-blocks/nio_command.git
[submodule "blocks/queue"]
	path = blocks/queue
	url = https://github.com/nio-blocks/queue.git
[submodule "blocks/signal_timeout"]
	path = blocks/signal_timeout
	url = https://github.com/nio-blocks/signal_timeout.git
[submodule "blocks/simulator"]
	path = blocks/simulator
	url = https://github.com/nio-blocks/simulator.git
[submodule "blocks/sleep"]
	path = blocks/sleep
	url = https://github.com/nio-blocks/sleep.git
[submodule "blocks/state"]
	path = blocks/state
	url = https://github.com/nio-blocks/state.git
